[Unit]
Description=Compton Compositor

[Service]
Type=forking
ExecStart=/usr/bin/compton -b --config %h/.config/compton.conf
Restart=always

[Install]
WantedBy=user-programs.target
