[Unit]
Description=Minimal screen locker

[Service]
Type=forking
ExecStart=/usr/bin/i3lock -d -c 000000 -p default

[Install]
WantedBy=mystuff.target
