[Unit]
Description = X Automatic Locking Daemon (%I minutes)

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/xss-lock -- systemctl --user restart blurlock.service
ExecReload  = /bin/kill -HUB $MAINPID

[Install]
WantedBy = user-programs.target
